
<div class="wraper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.png') %>');">
    <div class="banner-content">
    <%= image_tag('logo.gif') %>
    <h2 style="background-color: white; color: #272f8c; opacity: 0.8; padding: 20px; border-radius: 2px; box-shadow: 0 1px 2px rgba(0,0,0,0.07); line-height: 40px;">LA CLINIQUE DE LA MAIN <br> <strong>PARIS MONT-LOUIS</strong></h2>
    </div>
  </div>
</div>

<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
  <div class="title-background">
    <h1 class="text-center" style="color: #272f8c;">L'équipe chirurgicale</h1>
  </div>
    <div class="row">
      <div class="col-md-12 equipe-presentation">
        <h4 style="text-align: justify; font-size: 16px; line-height: 20px; letter-spacing: 2px;">Elle est composée de 5 chirurgiens de la main, spécialisés en microchirurgie, chirurgie reconstructrice et réparatrice des pathologies de la main et du poignet. La prise en charge des patients est globale par les consultations, les interventions chirurgicales, les soins post-opératoires, le plateau technique permettant la réalisation des examens complémentaires. <br>
        Cette prise en charge spécifique du patient se fait exclusivement sur le même site, à la Clinique du Mont-Louis.
        Tous les praticiens ont eu un parcours hospitalo-universitaire, et sont activement impliqués dans l’enseignement et la recherche clinique.</h4>
      </div>
      <div class="col-md-12 pic">
        <%= image_tag('team.jpg') %>
      </div>
    </div>
    <div class="row text-center team-all">
        <div class="col-md-4 col-xs-12">
          <a data-toggle="modal" data-target=".bs-example-modal-lg1" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" class="text-center">
            <h4>Professeur<br>OBERLIN Christophe</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg2" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>BELKHEYAR Zoubir</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg3" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>BRUN Magali</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg4" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>LACOSTE Sophie</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg5" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>TOUAM Chabane</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a href="https://www.doctolib.fr/cabinet-medical/paris/centre-d-imagerie-medicale-faidherbe-mont-louis" target="_blank" style="cursor: pointer; text-decoration: none;">
          <div class="card-booking btn-hover">
            <h4>Prendre Rendez-Vous</h4>
          </div>
        </a>
        </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('oberlin.png') %>
        <h5><strong>Dr Christophe Oberlin</strong></h5>
      </div>
      <h5>Professeur des universités. <br> <br>
      Chirurgien de référence dans le domaine de la chirurgie des paralysies, de réputation internationale dans le domaine de la chirurgie du plexus brachial. <br>
      Activités : chirurgie du plexus brachial, des paralysies du membre supérieur et du membre inférieur, chirurgie de la main et du poignet <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.42 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Lundi après-midi / 14h – 18h</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.mondocteur.fr/chirurgien-orthopedique/paris-11eme/oberlin-christophe.html" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('zoubir.png') %>
        <h5><strong>Dr Zoubir Belkheyar</strong></h5>
      </div>
      <h5>Chirurgien de la main, ancien Chef de Clinique des Hôpitaux de Paris, chargé d’enseignement DIU de chirurgie de la main et du membre supérieur. <br><br>
      <strong>Activités</strong> : chirurgie du plexus brachial, des paralysies du membre supérieur et du membre inférieur, chirurgie de la main et du poignet, microchirurgie <br><br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.42 <br><br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Jeudi toute la journée</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.mondocteur.fr/chirurgien-orthopedique/paris-18eme/belkheyar-zoubir.html" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('brun.png') %>
        <h5><strong>Dr Magali Brun</strong></h5>
      </div>
      <h5>Chirurgien de la main, ancienne Chef de Clinique des Hôpitaux de Paris, chargée d’enseignement DIU de chirurgie de la main et du membre supérieur. <br> <br>
      <strong>Activités</strong> : chirurgie de la main et du poignet, urgences de la main et traumatologie, microchirurgie. <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.52 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Lundi matin 9h-12h30</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.doctolib.fr/chirurgien-orthopediste/paris/magali-brun-paris" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('lacoste.png') %>
        <h5><strong>Dr Sophie Lacoste</strong></h5>
      </div>
      <h5>Chirurgien de la main, praticien attaché au CHU Hôpital Saint-Antoine, ancienne Chef de Clinique des Hôpitaux de Paris. <br> <br>
      <strong>Activités</strong> : chirurgie de la main et du poignet, urgences de la main et traumatologie, microchirurgie. <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.52 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Mercredi matin 9h-12h30</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.doctolib.fr/chirurgien-orthopediste/bagnolet/sophie-lacoste" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
      <%= image_tag('chabane.png') %>
        <h5><strong>Dr Chabane Touam</strong></h5>
      </div>
      <h5>Chirurgien de la main et du membre supérieur, chirurgie des nerfs, microchirurgie, chirurgie plastique et reconstruction au niveau des membres. Ancien chirurgien des Hôpitaux parisiens. Chargé d’enseignement DIU de microchirurgie et de chirurgie de la main. <br> <br>
      <strong>Activités</strong> : chirurgie et pathologies de la main et du membre supérieur. <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.52 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Mercredi – jeudi après-midi 14h-18h</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.doctolib.fr/chirurgien-orthopediste/saint-ouen/chabane-touam" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
    <div class="title-background"><h1 class="text-center" style="color: #272f8c;">Séjour – hospitalisation - Anesthésie</h1></div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg8" style="cursor: pointer; text-decoration: none; color: #272f8c">
        <div class="card2" id="text-center">
          <h3>Séjour</h3>
            <div class="card-hover">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
            </div>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg9" style="cursor: pointer; text-decoration: none; color: #272f8c">
        <div class="card2" id="text-center">
          <h3>Hospitalisation</h3>
            <div class="card-hover">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
            </div>
        </div>
      </a>
      </div>
      <div class="col-md-4 col-xs-12">
      <a data-toggle="modal" data-target=".bs-example-modal-lg10" style="cursor: pointer; text-decoration: none; color: #272f8c">
        <div class="card2" id="text-center">
          <h3>Anesthésie</h3>
            <div class="card-hover">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
            </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="title">
          <h5>Séjour</h5>
          <h6>Parcours du patient</h6>
        </div>
        <h6>
        Après votre rendez-vous avec votre chirurgien, une intervention chirurgicale est programmée. Vous serez donc hospitalisé sur l’établissement dans le cadre d’un séjour en ambulatoire ou en hospitalisation classique (au moins une nuit sur la clinique). <br> <br>
        Vous devez prendre rendez-vous avec l’anesthésiste pour une consultation qui doit être réalisée entre un mois et une semaine avant l’intervention chirurgicale pour assurer une prise en charge dans les meilleures conditions de sécurité et de confort. <br> <br>
        Un délai minimum de 48h avant l’intervention doit être respecté, pour permettre d’anticiper d’éventuels examens complémentaires et sans lesquels votre intervention risquerait d’être annulée. <br> <br>
        Dans le cadre d’une urgence, ce délai de 48h ne s’applique pas et la consultation d’anesthésie peut être réalisée le jour même de l’intervention. <br> <br>
        Pour la consultation d’anesthésie, il faut prévoir les documents suivants : pièce d’identité, carte vitale, ordonnances des éventuels traitements en cours, résultats d’examens récentes, carnet de santé pour les mineurs.
        Il vous faudra également signer les consentements éclairés du chirurgien et de l’anesthésiste.
      </h6>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="title">
          <h5>Séjour</h5>
          <h6>Hospitalisation</h6>
        </div>
        <h6>
          Après votre rendez-vous avec l’anesthésie, vous pourrez prévoir votre pré-admission. <br> <br>
          Le jour de votre intervention chirurgicale, vous vous rendez au bureau des admissions pour être accueilli et orienté vers le service d’hospitalisation pour une prise en charge et une préparation par l’équipe soignante.
          Les consignes à respecter avant votre admission : être strictement à jeûn (ne pas manger, ni boire ni fumer 8h avant), respect des règles d’hygiène (douches à la Bétadine la veille au soir et le matin), se présenter sans maquillage ni bijoux ni objets de valeur. Pour les mineurs, la personne responsable légalement doit être présente. <br> <br>
          Pour la sortie en ambulatoire, elle est autorisée par le chirurgien et l’anesthésiste. <br> <br>
          À tout moment, l’équipe médicale peut juger que votre état de santé nécessite une hospitalisation complète.
          Vous devez vous engager à respecter les obligations suivantes pour votre sortie en ambulatoire : <br> <br>
          <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px"></i> Vous devez rentrer directement à votre domicile <br>
          <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px"></i> Si vous vivez seul(e), prévoyez une personne à votre domicile la nuit suivant l'intervention <br>
          <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px"></i> Rejoignez votre domicile accompagné(e) <br>
          <i class="fa fa-circle" aria-hidden="true" style="font-size: 7px"></i> Pour la patient mineur, le retour doit s'effectuer en présence d'un parent ou d'un tuteur (ou de 2 personnes si l'enfant a moins de 6 ans)
          Vous ne devez pas conduire un véhicule pendant les 24 heures qui suivent l'opération
      </h6>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg10" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="title">
          <h5>Séjour</h5>
          <h6>Anesthésie</h6>
        </div>
        <h6>
      Pour les opérations du membre supérieur, de la main et du poignet, le geste d’anesthésie est dans la majorité des cas une anesthésie loco-régionale. Cela vous permettra de ne pas sentir la douleur sur le site opéré, de bénéficier d’une analgésie post-opératoire prolongée et de pouvoir manger et boire rapidement après l’intervention. <br> <br>
      Le membre supérieur encore anesthésié doit être maintenu par une écharpe jusqu’à récupération de la sensibilité et de la motricité du membre, même après le retour à domicile. <br> <br>
      L’anesthésiste vous aura expliqué tous les bénéfices et les risques liés au geste d’anesthésie, et les consignes de surveillance après l’intervention.
      </h6>
    </div>
  </div>
</div>


<div class="wrapper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
  <div class="title-background"><h1 class="text-center" style="color: #272f8c;">Établissement</h1></div>
    <div class="row etablissement">
      <div class="col-md-9">
      <div class="card-etablissement">
      <h6>La Clinique du Mont-Louis est un établissement médico-chirurgical. C’est un établissement conventionné et agrée pour une capacité de : <br> <br>
      <i class="fa fa-circle" aria-hidden="true"></i> 118 lits de chirurgie <br>
      <i class="fa fa-circle" aria-hidden="true"></i> 21 lits de médecine en hospitalisation complète dont 10 lits de soins de surveillance continue <br>
      <i class="fa fa-circle" aria-hidden="true"></i> 20 places de chirurgie ambulatoire <br>
      <i class="fa fa-circle" aria-hidden="true"></i> Plus d'une centaine de médecins / chirurgiens exercent dans notre clinique chirurgicale où sont pratiquées plus de 19 000 interventions par an. <br> <br>
      Le plateau technique est doté des dernières techniques de pointe : <br> <br>
      <i class="fa fa-circle" aria-hidden="true"></i> Une IRM dernière génération, un scanner qui permet des modélisations en 3 dimensions des lésions. Il réalise également des coloscopies virtuelles. <br>
      <i class="fa fa-circle" aria-hidden="true"></i> Le laboratoire d'analyse sur place traite les tubes en temps réel. Les résultats sont rendus immédiatement 24H/24. <br> <br>
      Les patients sont pris en charge par des professionnels de santé formés pour dispenser des soins de qualité. <br>
      La clinique chirurgicale du Mont-Louis vous accueille tous les jours et vous accompagne dans le cadre des consultations, interventions chirurgicales et examens.</h6>
      </div>
      </div>
      <div class="col-md-3 hidden-xs">
        <div class="card-etablissement2">
          <%= image_tag('home.png') %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
    <div class="title-background"><h1 class="text-center" style="color: #272f8c;">Comment venir?</h1></div>
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <div style="border: 1px solid #e8ecf0; border-radius: 3px; padding: 20px; margin-bottom: 20px">
          <h4>UNITÉ DE TRAUMATOLOGIE</h4>
          <p>URGENCES DE LA MAIN <br>
          <mark>TÉL.</mark> : 06 43 70 46 30 <br>
          (7J/7 – 24h/24)</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div style="border: 1px solid #e8ecf0; border-radius: 3px; padding: 20px; margin-bottom: 20px">
          <h4>ADRESSE</h4>
          <p>8-10, rue de la Folie-Régnault, 75011 Paris <br>
          <mark>Métro</mark> Ligne 9 : arrêt Charonne <br>
          <mark>Ligne 2</mark> : arrêt Philippe Auguste</p>
        </div>
      </div>
    </div>
    <div class="map text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.0621325193442!2d2.383932515674341!3d48.857025579287345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66df5a4ed4b6d%3A0xca39cfadc8a6fefc!2s10+Rue+de+la+Folie-Regnault%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1492071946540" width="600" height="300" frameborder="0" style="border: 4px solid #e8ecf0;" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="wrapper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
    <div class="title-background"><h1 class="text-center" style="color: #272f8c;">Prévention</h1></div>
    <div class="row">
      <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
            <h5 style="width: 70%; margin: auto; margin-bottom: 30px; text-align: justify; line-height: 150%;">Coupure, morsure, brûlure, … 1,4 millions d’accidents de la main ont lieu chaque année, majoritairement lors d’activités courantes. <br> Identifier les risques d’accidents de la main vous permettra de les éviter, à vous et à votre entourage.</h5>
              <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse">LES 12 MESURES DE PRÉVENTION</a>
              </h4>
            </div>
            <div id="collapse" class="panel-collapse collapse">
              <div class="panel-body">
                1. <mark>Vérifiez vos vaccins</mark>, notamment le vaccin contre le tétanos <br> <br>
                2. <mark>Débranchez systématiquement</mark> tout appareil électrique après usage et lors de son nettoyage : appareils électroménagers (robot mixeur, grille-pain…) ou de bricolage (scie électrique, perceuse, tondeuse…) <br> <br>
                3. <mark>Lisez les notices</mark> des appareils et les étiquettes des produits, notamment celles produits chimiques, avant leur première utilisation <br> <br>
                4. <mark>Equipez-vous</mark> de gants de protection adaptés à votre activité : cuisine, bricolage, jardinage, utilisation de produits chimiques… <br> <br>
                5. <mark>Ne portez pas de bague lors d’activités manuelles</mark> pour éviter tout risque d’accrochage et d’arrachement du doigt. <br> <br>
                6. <mark>Tournez les poignées</mark> des casseroles vers l’intérieur de la plaque de cuisson pour éviter tout basculement accidentel du liquide bouillant <br> <br>
                7. <mark>Vérifiez</mark> la température maximale de l’eau chaude fournie par votre chauffe-eau (maximum 50°C) <br> <br>
                8. <mark>Laissez les carters</mark> de protection sur les appareils de bricolage <br> <br>
                9. <mark>Utilisez les outils adaptés</mark> à votre activité : un tournevis ayant le bon embout pour éviter de ripper et de se perforer la main ou encore un plan fixe et stable pour bricoler et scier <br> <br>
                10. <mark>N’allumez pas un barbecue</mark> avec de l’alcool à brûler ou tout autre produit inflammable <br> <br>
                11. <mark>Evitez</mark> de monter sur une échelle ou un tabouret instable avec un taille-haie ou une tronçonneuse <br> <br>
                12. Pour la sécurité des enfants, installez des <mark>systèmes anti-pince doigts</mark> pour ralentir ou empêcher la fermeture des portes, ainsi que des systèmes de protection pour empêcher l’introduction des doigts dans les charnières <br><br>
                Plus d'info sur <span><a href="http://www.accidentsmain.fr">accidentsmain.fr</a></span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
     <div class="title-background"><h1 class="text-center" style="color: #272f8c;">Partenaires</h1></div>
    <div class="row text-center">
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.sfcm.fr/" target="_blank">
          <%= image_tag('part1.png') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.clinique-mont-louis.fr/" target="_blank">
         <%= image_tag('part2.png') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.reseaumain.fr/page_professionnels.php?id_rubrique=140" target="_blank">
          <%= image_tag('part3.jpg') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part2">
        <a href="http://www.reeducation-main.com/" target="_blank">
          <%= image_tag('part4.png') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.oc-sante.fr/" target="_blank">
          <%= image_tag('oc.jpg') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.scm-centredekinesitherapiehenri4-masseurs-kinesitherapeutes.com/" target="_blank">
          <%= image_tag('scm.png') %>
        </a>
      </div>
    </div>
  </div>
</div>


