
<div class="wraper">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.png') %>');">
    <div class="banner-content">
    <%= image_tag('logo.gif') %>
    <h2 style="background-color: white; color: #272f8c; opacity: 0.8; padding: 20px; border-radius: 2px; box-shadow: 0 1px 2px rgba(0,0,0,0.07); line-height: 40px;">LA CLINIQUE DE LA MAIN DE <br> <strong>PARIS MONT-LOUIS</strong></h2>
    </div>
  </div>
</div>

<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <h1 class="text-center" style="margin-bottom: 50px; color: #272f8c;">L'équipe chirurgicale</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12 equipe-presentation">
        <h4 style="text-align: justify; font-weight: lighter; font-size: 16px; line-height: 20px;">Elle est composée de 5 chirurgiens de la main, spécialisés en microchirurgie, chirurgie reconstructrice et réparatrice des pathologies de la main et du poignet. La prise en charge des patients est globale par les consultations, les interventions chirurgicales, les soins post-opératoires, le plateau technique permettant la réalisation des examens complémentaires. <br>
        Cette prise en charge spécifique du patient se fait exclusivement sur le même site, à la Clinique du Mont-Louis.
        Tous les praticiens ont eu un parcours hospitalo-universitaire, et sont activement impliqués dans l’enseignement et la recherche clinique.</h4>
      </div>
      <div class="col-md-12 pic">
        <%= image_tag('team.png') %>
      </div>
    </div>
    <div class="row text-center team-all">
        <div class="col-md-4 col-xs-12">
          <a data-toggle="modal" data-target=".bs-example-modal-lg1" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" class="text-center">
            <h4>Professeur<br>OBERLIN Christophe</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
          </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg2" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>BELKHEYAR Zoubir</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg3" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>BRUN Magali</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg4" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>LACOSTE Sophie</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a data-toggle="modal" data-target=".bs-example-modal-lg5" style="cursor: pointer; text-decoration: none; color: #272f8c">
          <div class="card" id="text-center">
            <h4>Docteur<br>TOUAM Chabane</h4>
              <div class="card-hover">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> <span style="letter-spacing: 1px;">Plus d'infos</span>
              </div>
          </div>
        </a>
        </div>
        <div class="col-md-4 col-xs-12">
        <a href="https://www.doctolib.fr/cabinet-medical/paris/centre-d-imagerie-medicale-faidherbe-mont-louis" target="_blank" style="cursor: pointer; text-decoration: none;">
          <div class="card-booking btn-hover">
            <h4>Prendre Rendez-Vous</h4>
          </div>
        </a>
        </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('pic.png') %>
        <h5><strong>Dr Zoubir Belkheyar</strong></h5>
      </div>
      <h5>Professeur des universités. <br> <br>
      Chirurgien de référence dans le domaine de la chirurgie des paralysies, de réputation internationale dans le domaine de la chirurgie du plexus brachial. <br>
      Activités : chirurgie du plexus brachial, des paralysies du membre supérieur et du membre inférieur, chirurgie de la main et du poignet <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.42 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Lundi après-midi / 14h – 18h</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.mondocteur.fr/chirurgien-orthopedique/paris-11eme/oberlin-christophe.html" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('pic.png') %>
        <h5><strong>Dr Zoubir Belkheyar</strong></h5>
      </div>
      <h5>Chirurgien de la main, ancien Chef de Clinique des Hôpitaux de Paris, chargé d’enseignement DIU de chirurgie de la main et du membre supérieur. <br><br>
      <strong>Activités</strong> : chirurgie du plexus brachial, des paralysies du membre supérieur et du membre inférieur, chirurgie de la main et du poignet, microchirurgie <br><br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.42 <br><br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Jeudi toute la journée</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.mondocteur.fr/chirurgien-orthopedique/paris-18eme/belkheyar-zoubir.html" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('pic.png') %>
        <h5><strong>Dr Magali Brun</strong></h5>
      </div>
      <h5>Chirurgien de la main, ancienne Chef de Clinique des Hôpitaux de Paris, chargée d’enseignement DIU de chirurgie de la main et du membre supérieur. <br> <br>
      <strong>Activités</strong> : chirurgie de la main et du poignet, urgences de la main et traumatologie, microchirurgie. <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.52 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Lundi matin 9h-12h30</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.doctolib.fr/chirurgien-orthopediste/paris/magali-brun-paris" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('pic.png') %>
        <h5><strong>Dr Sophie Lacoste</strong></h5>
      </div>
      <h5>Chirurgien de la main, praticien attaché au CHU Hôpital Saint-Antoine, ancienne Chef de Clinique des Hôpitaux de Paris. <br> <br>
      <strong>Activités</strong> : chirurgie de la main et du poignet, urgences de la main et traumatologie, microchirurgie. <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.52 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Mercredi matin 9h-12h30</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.doctolib.fr/chirurgien-orthopediste/bagnolet/sophie-lacoste" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <div class="name">
        <%= image_tag('pic.png') %>
        <h5><strong>Dr Chabane Touam</strong></h5>
      </div>
      <h5>Chirurgien de la main et du membre supérieur, chirurgie des nerfs, microchirurgie, chirurgie plastique et reconstruction au niveau des membres. Ancien chirurgien des Hôpitaux parisiens. Chargé d’enseignement DIU de microchirurgie et de chirurgie de la main. <br> <br>
      <strong>Activités</strong> : chirurgie et pathologies de la main et du membre supérieur. <br> <br>
      <i class="fa fa-phone-square" aria-hidden="true"></i> - 01.43.56.54.52 <br> <br>
      <i class="fa fa-calendar" aria-hidden="true"></i> - Mercredi – jeudi après-midi 14h-18h</h5>
      <div class="text-center" style="margin-top: 15px;">
      <a href="https://www.doctolib.fr/chirurgien-orthopediste/saint-ouen/chabane-touam" class="navbar-wagon-item btn-blue btn-hover text-center" style="letter-spacing: 2px; text-decoration: none;"; target="_blank">Prendre Rendez-Vous</a>
      </div>
    </div>
  </div>
</div>

<div class="wraper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <h1 class="text-center" style="margin-bottom: 50px; color: #272f8c;">Séjour – hospitalisation - Anesthésie</h1>
  <div class="container">
  </div>
</div>


<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <h1 class="text-center" style="margin-bottom: 50px; color: #272f8c;">Établissement</h1>
  <div class="container">
    <div class="row etablissement">
      <div class="col-md-9">
      <div class="card-etablissement">
      <h4 style="text-align: justify; font-weight: lighter; font-size: 16px; line-height: 20px;">La Clinique du Mont-Louis est un établissement médico-chirurgical. C’est un établissement conventionné et agrée pour une capacité de : <br> <br>
      - 118 lits de chirurgie <br>
      - 21 lits de médecine en hospitalisation complète dont 10 lits de soins de surveillance continue <br>
      - 20 places de chirurgie ambulatoire <br>
      - Plus d'une centaine de médecins / chirurgiens exercent dans notre clinique chirurgicale où sont pratiquées plus de 19 000 interventions par an. <br> <br>
      Le plateau technique est doté des dernières techniques de pointe : <br>
      Une IRM dernière génération, un scanner qui permet des modélisations en 3 dimensions des lésions. Il réalise également des coloscopies virtuelles. <br>
      Le laboratoire d'analyse sur place traite les tubes en temps réel. Les résultats sont rendus immédiatement 24H/24. <br>
      Les patients sont pris en charge par des professionnels de santé formés pour dispenser des soins de qualité. <br>
      La clinique chirurgicale du Mont-Louis vous accueille tous les jours et vous accompagne dans le cadre des consultations, interventions chirurgicales et examens.</h4>
      </div>
      </div>
      <div class="col-md-3 hidden-xs">
        <div class="card-etablissement2">
        <%= image_tag('home.png') %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wraper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <h1 class="text-center" style="margin-bottom: 50px; color: #272f8c;">Comment venir?</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 text-center">
        <div style="border: 1px solid #e8ecf0; border-radius: 3px; padding: 20px; margin-bottom: 20px">
          <h4>UNITÉ DE TRAUMATOLOGIE</h4>
          <p>URGENCES DE LA MAIN <br>
          TÉL. : 06 43 70 46 30 <br>
          (7J/7 – 24h/24)</p>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <div style="border: 1px solid #e8ecf0; border-radius: 3px; padding: 20px; margin-bottom: 20px">
          <h4>ADRESSE</h4>
          <p>8-10, rue de la Folie-Régnault, 75011 Paris <br>
          Métro Ligne 9 : arrêt Charonne <br>
          Ligne 2 : arrêt Philippe Auguste</p>
        </div>
      </div>
    </div>
    <div class="map text-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.0621325193442!2d2.383932515674341!3d48.857025579287345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66df5a4ed4b6d%3A0xca39cfadc8a6fefc!2s10+Rue+de+la+Folie-Regnault%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1492071946540" width="600" height="300" frameborder="0" style="border: 4px solid #e8ecf0;" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="wraper" style="background-color: #e8ecf0; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <h1 class="text-center" style="margin-bottom: 50px; color: #272f8c;">Prévention</h1>
</div>

<div class="wraper" style="background-color: white; margin-top: 0px; margin-bottom: 20px; padding-top: 50px; padding-bottom: 50px;">
  <h1 class="text-center" style="margin-bottom: 50px; color: #272f8c;">Partenaires</h1>
  <div class="container">
    <div class="row flex text-center">
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.sfcm.fr/" target="_blank">
          <%= image_tag('part1.png') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.clinique-mont-louis.fr/" target="_blank">
         <%= image_tag('part2.png') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part">
        <a href="http://www.reseaumain.fr/page_professionnels.php?id_rubrique=140" target="_blank">
          <%= image_tag('part3.jpg') %>
        </a>
      </div>
      <div class="col-md-3 col-xs-12 part2">
        <a href="http://www.reeducation-main.com/" target="_blank">
          <%= image_tag('part4.png') %>
        </a>
      </div>
    </div>
  </div>
</div>


